<footer>
    <p>
    <i>
        Hi, my name is Sandor, and I am working as a Software Developer
        for <a href="https://traderepublic.com/de-de">Trade Republic</a>. You can find my code on
        <a href="{{ site.github.owner_url }}">Github</a>, and I usually also 
        <a href="https://twitter.com/sandor_nemeth">tweet</a> on Twitter.
    </i>
    </p>
    <p>
        <small><i>
            Legal disclaimer: Everything posted here is my own content, it does NOT
            represent any of my former or current employers.
        </i></small>
    </p>
</footer>
