.page 
  .post-container
    width: $content-width
    margin: 0 auto
    
  #post-header
    margin-top: 3rem
    margin-bottom: 3rem
    text-align: center
    
    h1
      text-align: center
      font-weight: normal
      font-size: 2rem
      margin: 0
      padding: 0
      
    p.published
      display: block
      text-align: center
      margin: 0
      padding: 0
      font-size: .8rem
      color: $gray
      font-family: $header-font
      
      .date
        color: $primary

  #post-body 
    padding-bottom: 3em
    
    h2, h3, h4, h5, h6
      margin: 3rem 0 1rem 0
      font-weight: 400
