$content-width: 700px

$bg-color: #ffffff
$alternative-color: #838383
$text-color: black

$gray: #A8A7A7   
$accent: #CC527A   
$primary: #45ADA8   
$darkgray: #474747
$black: #594F4F 

$header-font: sans-serif
$body-font: serif
