
<!DOCTYPE html>
<html lang="en-US" class="no-js">
{% include head.html %}
<body class="home blog">
  <div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="index.html#content">Go to content</a>
    {% include sidebar.html %}
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          {{ content }}
        </main>
      </div>
    </div>
    {% include footer.html %}
  </div>
  <script type='text/javascript' src="{{ "/js/skip-link-focus-fix.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type='text/javascript'>
  /* <![CDATA[ */
  var screenReaderText = {"expand":"<span class=\"screen-reader-text\">\ud558\uc704 \uba54\ub274 \ud655\uc7a5<\/span>","collapse":"<span class=\"screen-reader-text\">\ud558\uc704 \uba54\ub274 \ucd95\uc18c<\/span>"};
  /* ]]> */
  </script>
  <script type='text/javascript' src="{{ "/js/functions.js" | prepend: site.baseurl | prepend: site.url }}"></script>
</body>
</html>
