<!DOCTYPE html>
<html lang="en-US" class="no-js">
	{% include head.html %}
	<body class="homepage">
        {% include header.html %}
        <div id="page">
            <section id="home">
                <h1 id="title">{{ site.title }}</h1>
                <p id="description">{{ site.description }}</p>
                {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
        <ul class="post-list">
        {% assign date = currentdate %}
    {% endif %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
            </section>
        </div>
    </body>
</html>
